:root {
  --darkBlue: #1a1f2b;
  --teal: #3ac1a7;
  --hoverTeal: #2a907f;
  --lightGrey: #f5f5f5;
  --charcoal: #333;
  --textLightGrey: #a8a8a8;
  --green: #6dbb3a;
  --darkGreen: #4f9623;
  --redBtn: #e74c3c;
  --redBtnHover: #c0392b;
}

.post-pet-section {
  text-align: center;
  padding: 50px;
}

.post-pet-section h2 {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 10px;
  color: var(--darkGreen);
  border-bottom: 2px solid var(--darkGreen);
  font-size: 32px;
  margin-bottom: 20px;
}

.post-pet-section img {
  max-width: 60%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-pet-section p {
  font-family: "Montserrat", sans-serif;
  color: var(--darkBlue);
  font-size: 16px;
  margin-bottom: 20px;
}

.post-pet-section h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--darkGreen);
  font-size: 20px;
  margin-top: 20px;
}

.post-pet-section label {
  font-family: "Montserrat", sans-serif;
  color: var(--darkGreen);
  font-weight: bold;
  display: block;
}

.input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-pet-section input[type="text"],
.post-pet-section input[type="email"],
.post-pet-section input[type="tel"],
.post-pet-section textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 500px;
  margin: 7px 0;
}

.post-pet-section textarea {
  resize: vertical;
}

.filter-selection-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
}

.filter-selection-service select {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  padding: 8px 8px;
  color: var(--lightGrey);
  background-color: var(--green);   
}

.cta-button {
  display: inline-block;
  padding: 10px 16px;
  background-color: var(--green);
  color: var(--lightGrey);
  text-decoration: none;
  border-radius: 100px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: none;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: var(--darkGreen);
  cursor: pointer;
  transition: all 0.5s;
}

.m-b {
  margin-bottom: 20px;
}

.file-input-label {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border-radius: 100px;
  border: none;
  padding: 8px 20px;
  color: var(--lightGrey);
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 165px;
  overflow: hidden;
  max-height: 33px;
}

.file-input-label:hover {
  background-color: var(--darkGreen);
}

.file-input {
  display: none;
}

.file-input-text {
  display: inline-block;
  color: var(--lightGrey);
  margin-right: 10px;
}
